body {
    background-image: url(https://wallpapers.com/images/featured/kanye-west-bear-oe4rh3iwxmsxhotj.jpg);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .cadastro-container {
    background-color: #4d2679;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    text-align: center;
  }
  
  h1 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group label {
    color: #fff;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .input-group input[type="text"],
  .input-group input[type="password"] {
    padding: 10px;
    border-radius: 4px;
    border: none;
    width: 100%;
    font-size: 16px;
  }
  
  .input-group input[type="submit"] {
    background-color: #1db954;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  .input-group input[type="submit"]:hover {
    background-color: #198c42;
  }
  